 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 nav header {
     background-color: rgba(188, 223, 255, 0.616);
     display: flex;
     width: 100%;
     height: 50px;
     justify-content: space-between;
 }

 nav header a.logo {
     font-weight: bold;
     text-decoration: none;
     display: flex;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     color: black;
     margin-top: 0;
     margin-bottom: 0;
     padding-left: 20px;

 }


 nav header a.logo i {
     font-weight: bold;
     text-decoration: none;
     display: flex;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     color: rgb(252, 44, 130);

     font-size: 1.7rem;

     padding: 0 25px;
 }


 nav header ul.menu {
     list-style: none;
     display: flex;
     justify-content: space-between;
     text-align: center;
     margin-top: auto;
     margin-bottom: auto;

 }


 nav header ul.menu li {
     padding: auto;
     margin: 20px 20px;
 }





 nav header ul.menu {
     display: flex;
     list-style: none;
     text-align: center;
     height: 100%;
     padding: auto auto;
     flex-direction: column;

 }


 nav header ul.menu .icon-menu {
     width: 100%;
     display: flex;
     margin: auto auto;
     justify-content: space-between;
     padding: 5px 20px;
     text-align: center;
     justify-items: center;

 }


 nav header ul.menu .icon-menu:hover {
     cursor: pointer;

 }


 nav .submenu li {


     padding: 15px;


 }

 nav .submenu li a {

     font-weight: bold;
     color: black;
     text-decoration: none;
     font-size: 1.2rem;
     padding: 15px;


 }


 @keyframes fadeIn {
     from {
         opacity: 0;
     }

     to {
         opacity: 1;
     }
 }

 nav .submenu {
     display: none;
     padding: 10px;
     list-style: none;
     background-color: rgb(188, 223, 255);
     text-align: center;
     height: 100%;
     padding: auto auto;
     flex-direction: row;
     justify-content: space-around;
     flex-wrap: wrap;
     animation: fadeIn 0.5s ease-in-out;
     user-select: none;

 }


 nav .submenu li a:hover {
     font-weight: bold;
     color: rgb(59, 185, 0);
     text-decoration: underline;
     text-decoration-color: black;
     text-decoration-thickness: 3px;
     font-size: 1.4rem;

 }


 .item-error {
     color: rgb(255, 145, 145);
     background-color: rgb(73, 38, 38);
     width: 100%;
     padding: 10px;
     margin-top: 10px;
     border-radius: 10px;
 }


 .item-success {
     color: rgb(121, 255, 103);
     background-color: rgb(47, 82, 43);
     width: 100%;
     padding: 10px;
     margin-top: 10px;
     border-radius: 10px;
 }


 .item-primary {
     color: rgb(97, 179, 233);
     background-color: rgb(57, 76, 88);
     width: 100%;
     padding: 10px;
     margin-top: 10px;
     border-radius: 10px;
 }


 .item-warning {
     color: rgb(210, 247, 45);
     background-color: rgb(104, 112, 69);
     width: 100%;
     padding: 10px;
     border-radius: 10px;
     margin-top: 10px;
 }

 .container {

     margin: 20px auto;
     display: inline-block;
     text-align: center;
     width: 100%;

 }

 .container .category {

     display: block;

 }

 .container .category .list {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     grid-gap: 30px 40px;
     grid-template-rows: repeat(auto-fit, 1fr);
     overflow: scroll;

 }


 .container .category .list .item {
     box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
     /* border-style: solid; */
     padding: 15px;
     border-radius: 8px;
     text-align: center;
     margin: 10px 10px;

 }


 .container .category .list .item .text {
     text-align: center;
 }

 .container .category .list .item .logo {
     font-size: 5rem;

     text-align: center;
 }


 .products {
     margin-top: 90px;
     width: 100%;
 }

 .products .info {
     margin-bottom: 60px;
 }


 .products .info .name {
     font-weight: bold;
     font-size: 2rem;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }



 .products .list {

     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     grid-gap: 40px 52px;
     grid-template-rows: repeat(auto-fit, 1fr);
     padding: 0 30px;

 }

 .products .list .product {
     border-radius: 10px;
     box-shadow: 0 0 0 8px #e0f3f7, 0 0 0 12px #9be6f0;
     padding: 10px;
     background-color: rgb(206, 244, 255);
     margin-top: 20px;
     margin-left: 10px;
     margin-right: 10px;


 }

 .products .list .product .image img {
     background-image: none;
     width: 100%;
     padding: 0;
     margin: 0;

     perspective: 1000px;
     
     transform-style: preserve-3d;
     transition: transform 0.6s;

     animation: fadeIn 1.5s ease-in-out;
 }


 .products .list .product .image img:hover {
     transform: rotateY(180deg);

 }


 .products .list .product .buy {
     background-color: rgb(189, 245, 245);
     border-radius: 10px;
     padding: 20px 25px;
     margin: 10px auto;
     cursor: pointer;
     border-color: aquamarine;
 }


 footer {


     width: 100%;
     height: 90px;
     background-color: #9be6f0;
     position: relative;

 }

 footer span {

     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);

 }

 .cp-right {
     text-decoration: none;
     color: rgb(240, 119, 119);
     font-weight: bold;
     text-transform: uppercase;
 }


 @media only screen and (max-width: 470px) {


     .container .category .list {
         display: flex;

         overflow: scroll;

     }


     .products .list {
         display: flex;

         padding: 0 30px;
         overflow: auto;
         justify-content: space-between;


     }


     .products .list .product {

         border-radius: 10px;
         box-shadow: 0 0 0 8px #e0f3f7, 0 0 0 12px #9be6f0;
         padding: 10px;
         background-color: rgb(206, 244, 255);
         margin: 50px auto;
         scroll-behavior: smooth;
         min-width: 200px;

     }


     .products .list .product .buy {
         background-color: rgb(189, 245, 245);
         border-radius: 10px;
         padding: 10px 15px;
         margin: 5px auto;
     }
 }